
 		<form method="post" action="/quizes/crear">
    	<p>  Crea una nueva pregunta para Quizz</p>
    	<p>	<label for="preg" class="rem"> Pregunta: </label>
    		<input type="text" id="preg1" name="prueba" value="<%= prueba %>"/> </p>
    	<p>	<label for="preg" class="rem"> Pregunta: </label>
    		<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> </p>
    	<p>	<label for="resp" class="rem"> Respuesta: </label>
    		<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> </p>
    	<input type="submit" value="Enviar"/>
    	</form>
