<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="get" action="/quizes/answer">
    <p>  <%= Pregunta %></p>
    <input type="text" name="Respuesta" value="Responda aqui"/>
    <input type="submit" value="Enviar"/>
    </form>
  </body>
</html>
