    <form method="get" action="/quizes/<%= quiz.id %>/answer">
    <p>  <%= quiz.pregunta %></p>
    <input type="text" name="Respuesta" value="Responda aqui"/>
    <input type="submit" value="Enviar"/>
    </form>
    